rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /newsletter_subscribers/{document} {
      allow create: if true;
      allow read, update, delete: if false;
    }
    match /bundle_waitlist/{document} {
      allow create: if true;
      allow read, update, delete: if false;
    }
  }
}
